# Ignore the node_modules directory
#node_modules/

# Ignore Logs
#logs
#*.log
/examples/03_systems_coupled_to_a_cavity/logs

# Ignore the build directory
#/dist
/new_ideas/
/Polaritons/
/examples/01_Output/
/examples/02_Output_displacedOscillatorTscan

# The file containing environment variables
#.env

# Ignore IDE specific files
#.idea/
.vscode/
#*.sw*

# Ignore backup src code
src/backup_code.jl
